*{
	padding: 0;
	margin: 0;
}
.myNavbar{
	background-color: #2D68BF; 
	border-radius: 0;
}
#myNavbar a{
	color: #fff; 
	background-color: #2D68BF;
}
.myRow{
	border-bottom: 1px solid #E5E4E4;
}
.myRow .indicate{
	color: #000000;
	font-size: 16px;
}
.myRow h3 a{
	color: #353535; 
	font:bold 18px '微软雅黑'; 
	line-height: 25px;
}
.myRow a{
	 margin-right: 10px;
}
.hot{
	margin-left: 50px; 
	font: bold 15px '微软雅黑';
}
.right h3 a{
	color: #3B3B3B; 
	font-size:15px; 
}
 p{
 	font-size: 14px;
 	line-height: 22px; 
 	color: #3C3C3C;
 }
 .row a:hover{
 	color: #3B77AD;
 }