*{
	padding: 0; 
	margin: 0;
}
header{
	position: relative;
}
.myNavbar{
	position: absolute;
	top:0;
	left: 0;
	z-index:10;
	width: 100%;
	background-color: rgba(0,0,0,0); 
	border-radius: 0;
}
.myCarousel{
	z-index:1;
}
.my{
	 height: 450px;
}
#myNavbar a{
	color: #fff; 
	background-color: rgba(0,0,0,0);
}
#myNavbar a:hover{
	text-decoration: underline;
}
.myContainer{
	width: 100%;
}
.myNavbarTwo{
	background-color: rgba(0,0,0,0.1); 
	border-radius: 0;
}
#myNavbarTwo a{
	background-color: rgba(0,0,0,0); 
	color: #434343;
}
.indicate{
	font: bolder 20px '黑体' ;
	vertical-align: middle;
	line-height: 50px;
}
.row1{
	height: 50px; 
	background-color: rgba(0,0,0,0.2); 
	width: 100%;
}
.row1 div{
	height: 50px;
	line-height: 50px;
}
.col-sm-12 h3 a{
	color:#3C3C3C; 
	font-size: 18px; 
	line-height: 25px;
}
.col-sm-12 p{
	color: #3C3C3C;
	font-size: 15px;
	line-height: 20px;
}
.footer{
	background-color: #484747;
}
.footer div{
	text-align: center;
}
.footer a{
	font: bolder 14px '宋体'; 
	color: #ffffff;
}