*{
	padding: 0; 
	margin: 0;
}
body,html{
	height: 100%;
}
.content{
	position: relative;
	height: 100%; 
	min-height: 100%;
}
.myNavbar{
	background-color: #2D68BF; 
	border-radius: 0;
}
.myCarousel{
	margin-top: -20px;
}
.my{
	 height: 450px;
}
#myNavbar a{
	color: #fff; 
	background-color: #2D68BF;
}
.myContainer{
	width: 100%;
}
.myNavbarTwo{
	background-color: rgba(0,0,0,0.1); 
	border-radius: 0;
}
#myNavbarTwo a{
	background-color: rgba(0,0,0,0); 
	color: #434343;
}
.indicate{
	font: bolder 20px '黑体' ;
	vertical-align: middle;
	line-height: 50px;
}
.row1{
	height: 50px; 
	background-color: rgba(0,0,0,0.2); 
	width: 100%;
}
.row1 div{
	height: 50px;
	line-height: 50px;
}
.col-sm-12 h3 a{
	color:#3C3C3C; 
	font-size: 18px; 
	line-height: 25px;
}
.col-sm-12 p{
	color: #3C3C3C;
	font-size: 15px;
	line-height: 20px;
}
.footer{
	background-color: #484747;
}
.footer div{
	text-align: center;
}
.footer a{
	font: bolder 14px '宋体'; 
	color: #ffffff;
}